<div class="rules-layer">
    <p class="p-style"> لطفا قبل از ثبت پرسش  ، ابتدا موضوع مورد نظر خود را در سایت جستجو نمایید ، در صورتی که پاسخ مورد نظر خود را دریافت نکردید ، به ثبت پرسش اقدام نمایید ، از ثبت پرسش های تکراری جدا خودداری فرمایید </p>

    <form asp-controller="Question" asp-action="QuestionList" method="get" id="QuestionSearchForm">
        <input id="QuestionSearchInput" name="Title" question-autocomplete type="text" placeholder=" دنبال چه موضوعی میگردی ؟ ">
        <button type="submit"><i class="icon-search-1"></i></button>
    </form>

</div>