<footer>
    <div class="top-footer">
        <div class="container">
            <ul>
                <li><a href="/"> صفحه اصلی </a></li>
                <li><a asp-controller="Account" asp-action="Login"> ورود به سایت </a></li>
                <li><a asp-controller="Account" asp-action="Register"> عضویت در سایت </a></li>
                <li><a asp-controller="Question" asp-action="FilterTags"> لیست تگ ها </a></li>
                <li><a asp-controller="Question" asp-action="QuestionList"> لیست پرسش ها </a></li>
                <li><a asp-controller="Question" asp-action="CreateQuestion"> ثبت پرسش جدید </a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="socials-layer">
                <a href="/"><i class="icon-instagram-old"></i></a>
                <a href="/"><i class="icon-linkedin"></i></a>
                <a href="/"><i class="icon-telegram"></i></a>
            </div>
            <div class="copyright">
                <p>کلیه حقوق مادی و معنوی این سایت متعلق به <a href="https://toplearn.com"> تاپ لرن </a> می باشد .</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>