<ul>

    <li><a asp-action="CreateQuestion" asp-controller="Question"> ثبت پرسش جدید </a></li>

    <li><a asp-action="QuestionList" asp-controller="Question"> لیست سوالات </a></li>

    <li><a asp-action="FilterTags" asp-controller="Question"> لیست تگ ها </a></li>

</ul>