@model BugFixer.Domain.ViewModels.Question.FilterQuestionViewModel

<article>
    <header><h2> جدیدترین پرسش ها </h2></header>
    <ul>
        @if (Model != null && Model.Entities.Any())
        {
            @foreach (var question in Model.Entities)
            {
                <li>
                    <span> @question.AnswersCount <i class="icon-comment"></i></span>
                    <h2><a asp-action="QuestionDetail" asp-controller="Question" asp-route-questionId="@question.QuestionId"> @question.Title </a></h2>
                </li>
            }
        }
    </ul>
</article>