@model BugFixer.Domain.ViewModels.UserPanel.Account.ChangeUserPasswordViewModel
@using BugFixer.Domain.ViewModels.Common

@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "_UserPanelLayout";
}

@section Scripts
{
    <partial name="_JqueryValidation"/>
}

@section Breadcrumb
{
<li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @ViewData["Title"] </span></a></li>
}

<div class="account-content-layer layer-style">
    <h3> @ViewData["Title"] </h3>
    <div class="inner">
        <form class="form-layer-style" method="post" asp-action="changeUserPassword" asp-controller="Account" asp-area="UserPanel">
            <div class="row">

                <div class="col-md-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label asp-for="OldPassword"></label>
                        <input type="password" asp-for="OldPassword">
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <!--/ input -->
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <!--/ input -->
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label asp-for="RePassword"></label>
                        <input type="password" asp-for="RePassword">
                        <span asp-validation-for="RePassword"></span>
                    </div>
                    <!--/ input -->
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                    <button type="submit" class="submit-button green"> <span>ثبت تغییرات</span> </button>
                </div>

            </div>

        </form>
    </div>
</div>

