<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
	<head>
		<meta charset="UTF-8">
		<title> باگ فیکسر </title>
		<meta name="googlebot" content="index,follow">
		<meta name="robots" content="noodp,noydir">
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css">
        <link rel="stylesheet" type="text/css" href="css/bugfixer.css">
        <link rel="stylesheet" type="text/css" href="css/public.css">
        <link rel="stylesheet" type="text/css" href="css/page.css">
		<script src="js/jquery.min.js"></script>
	</head>
	<body>
    	<script src="js/modernizr.js"></script>

        <header class="main-header">
            <div class="container">
                <nav>
                    <span><i class="icon-menu-2"></i></span>
                    <div class="inner">
                        <ul>
                            <li><a href=""> تگ ها </a></li>
                            <li><a href=""> پرسش و پاسخ ها </a></li>
                            <li><a href=""> کاربران </a></li>
                            <li><a href=""> راهنمای سایت </a></li>
                        </ul>
                        <div class="clientarea-layer">
                            <div class="loggedin-status">
                                <span> <i class="icon-profile"></i> <span>حساب کاربری شما</span>  </span>
                                <div class="sublayer">
                                    <div class="avatar">
                                        <a href=""><img src="images/pic/avatar.jpg"></a>        
                                        <div>
                                            <span class="fullname"> میترا رحیمی </span>
                                            <span class="detail"> 123 پرسش | 1236 پاسخ </span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li><a href=""> مشاهده حساب کاربری </a></li>
                                        <li><a href=""> تنظیمات حساب کاربری </a></li>
                                        <li><a href=""> ویرایش حساب کاربری </a></li>
                                        <li><a href=""> تغییر رمز عبور </a></li>
                                        <li><a href=""> پرسش های من </a></li>
                                        <li><a href=""> پاسخ های من </a></li>
                                        <li><a href=""> خروج از حساب کاربری </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="signout-status hidden">
                                <i class="icon-profile"></i>
                                <a href=""> ورود / </a>
                                <a href=""> عضویت </a>
                            </div>
                        </div>  
                    </div>
                </nav>

                <a href="" class="logo"><img src="images/logo-dark.svg"></a>
            </div>
        </header>

        <div class="user-page-style">

            <div class="breadcumb-layer">
                <div class="container">
                    <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                        <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> باگ فیکسر </span></a></li>
                        <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> خطای 404 </span></a></li>
                    </ul>
                </div>
            </div>

            <div class="page-style default">

                <div class="container">

                    <div class="right-col">

                        <div class="notfound">
                            
                            <header class="top-heading"><h1><a href=""> صفحه مورد نظر یافت نشد </a></h1></header>

                            <img src="images/404.svg">

                            <p> ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید </p>
                            
                        </div>

                    </div>

                    <!-- aside -->
                    <aside>

                        <a href="" class="ask-question"> ثبت پرسش جدید </a>

                        <!-- most popular post -->
                        <section class="most-popular-questions">

                            <article>
                                <header><h2> پر امتیازترین پرسش های یک ماه اخیر </h2></header>
                                <ul>
                                    <li>
                                        <span> 10K <i class="icon-star"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 3K <i class="icon-star"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 6K <i class="icon-star"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                </ul>
                            </article>

                            <article>
                                <header><h2> پر بحث ترین پرسش های یک ماه اخیر </h2></header>
                                <ul>
                                    <li>
                                        <span> 8.5K <i class="icon-comment"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 7K <i class="icon-comment"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 11K <i class="icon-comment"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                </ul>
                            </article>

                        </section>
                        <!-- /most popular post -->

                    </aside>
                    <!-- /aside -->
                    <div class="clearfix"></div>    
                    
                </div>

            </div>

        </div>  
            
        <footer>
            <div class="top-footer">
                <div class="container">
                    <ul>
                        <li><a href=""> صفحه اصلی </a></li>
                        <li><a href=""> ورود به سایت </a></li>
                        <li><a href=""> عضویت در سایت </a></li>
                        <li><a href=""> لیست آگهی های استخدام </a></li>
                        <li><a href=""> لیست کاربران </a></li>
                        <li><a href=""> لیست تگ ها </a></li>
                        <li><a href=""> ثبت پرسش جدید </a></li>
                        <li><a href=""> قوانین سایت </a></li>
                        <li><a href=""> راهنمای سایت </a></li>
                        <li><a href=""> پر بحث ترین تگ ها</a></li>
                        <li><a href=""> پربازدیدترین آگهی ها </a></li>
                        <li><a href=""> پر امتیازترین کاربران </a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="socials-layer">
                        <a href=""><i class="icon-facebook"></i></a>
                        <a href=""><i class="icon-google-plus"></i></a>
                        <a href=""><i class="icon-instagram-old"></i></a>
                        <a href=""><i class="icon-twitter"></i></a>
                        <a href=""><i class="icon-linkedin"></i></a>
                        <a href=""><i class="icon-telegram"></i></a>
                        <a href=""><i class="icon-rss"></i></a>
                    </div>
                    <div class="copyright">
                        <p>کلیه حقوق مادی و معنوی این سایت متعلق به <a href=""> شرکت برنامه نویسان پیشرو پایدار </a> می باشد . طراحی و برنامه نویسی <a href=""> برنامه نویسان </a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/public.js"></script>
	</body>
</html>
