<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
	<head>
		<meta charset="UTF-8">
		<title> باگ فیکسر </title>
		<meta name="googlebot" content="index,follow">
		<meta name="robots" content="noodp,noydir">
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css">
        <link rel="stylesheet" type="text/css" href="css/bugfixer.css">
        <link rel="stylesheet" type="text/css" href="css/public.css">
        <link rel="stylesheet" type="text/css" href="css/account.css">
		<script src="js/jquery.min.js"></script>
	</head>
	<body>
    	<script src="js/modernizr.js"></script>

        <header class="main-header">
            <div class="container">
                <nav>
                    <span><i class="icon-menu-2"></i></span>
                    <div class="inner">
                        <ul>
                            <li><a href=""> تگ ها </a></li>
                            <li><a href=""> پرسش و پاسخ ها </a></li>
                            <li><a href=""> کاربران </a></li>
                            <li><a href=""> راهنمای سایت </a></li>
                        </ul>
                        <div class="clientarea-layer">
                            <div class="loggedin-status">
                                <span> <i class="icon-profile"></i> <span>حساب کاربری شما</span>  </span>
                                <div class="sublayer">
                                    <div class="avatar">
                                        <a href=""><img src="images/pic/avatar.jpg"></a>        
                                        <div>
                                            <span class="fullname"> میترا رحیمی </span>
                                            <span class="detail"> 123 پرسش | 1236 پاسخ </span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li><a href=""> مشاهده حساب کاربری </a></li>
                                        <li><a href=""> تنظیمات حساب کاربری </a></li>
                                        <li><a href=""> ویرایش حساب کاربری </a></li>
                                        <li><a href=""> تغییر رمز عبور </a></li>
                                        <li><a href=""> پرسش های من </a></li>
                                        <li><a href=""> پاسخ های من </a></li>
                                        <li><a href=""> خروج از حساب کاربری </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="signout-status hidden">
                                <i class="icon-profile"></i>
                                <a href=""> ورود / </a>
                                <a href=""> عضویت </a>
                            </div>
                        </div>  
                    </div>
                </nav>

                <a href="" class="logo"><img src="images/logo-dark.svg"></a>
            </div>
        </header>

        <div class="user-page-style">

            <div class="breadcumb-layer">
                <div class="container">
                    <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                        <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> باگ فیکسر </span></a></li>
                        <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> پنل کاربری </span></a></li>
                    </ul>
                </div>
            </div>

            <div class="account-layer">
                <div class="container">
                    <!-- right side -->
                    <div class="right-side">
                        <!-- avatar -->
                        <div class="quick-access layer-style">
                            <div class="img-layer">
                                <a href="javascript:void(0)" class="change-image"><i class="icon-pencil-edit"></i></a>
                                <img src="images/pic/avatar.jpg">
                            </div>
                            <!-- you can use "gold" , "silver , "bronze" for medals -->
                            <div class="detail gold">
                                <h3> <i class="icon-quality"></i> میترا رحیمی </h3>
                                <span> عضویت : 01/01/1395 </span>
                                <span> کاربری طلایی با 1563 امتیاز </span>
                            </div>
                            <ul>
                                <li><a href="" data-toggle="tooltip" data-placement="top" title=" داشبورد "><i class="icon-settings"></i></a></li>
                                <li><a href="" data-toggle="tooltip" data-placement="top" title=" ویرایش اطلاعات "><i class="icon-profile"></i></a></li>
                                <li><a href="" data-toggle="tooltip" data-placement="top" title=" تغییر رمز عبور "><i class="icon-safe"></i></a></li>
                                <li><a href="" data-toggle="tooltip" data-placement="top" title=" خروج از حساب " ><i class="icon-power-symbol"></i></a></li>
                            </ul>
                        </div>
                        <!-- /avatar -->
                        <!-- side bar -->
                        <section class="sidebar layer-style">
                            <header><h3> منوی دسترسی </h3><i class="icon-chevron-down"></i></header>
                            <div class="inner">
                                <ul>
                                    <li class="open"><span> حساب کاربری </span>
                                        <ul>
                                            <li><a href="account.html"> مشاهده حساب کاربری </a></li>
                                            <li><a href="account-1.html"> ویرایش حساب کاربری </a></li>
                                            <li><a href="account-2.html"> تنظیمات حساب کاربری </a></li>
                                            <li><a href="account-3.html"> تغییر رمز عبور </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="account-4.html"> مدیریت رزومه  </a>  </li>
                                    <li><a href="account-5.html"> پرسش های من  </a> <i> 12 </i> </li>
                                    <li><a href="account-6.html"> پاسخ های من  </a> <i> 12 </i> </li>
                                    <li><a href="account-7.html"> دنبال کنندگان  </a> <i> 12 </i> </li>
                                    <li><a href="account-8.html"> دنبال شونده ها  </a> <i> 24 </i> </li>
                                    <li><a href="account-9.html"> صندوق پیام ها  </a> <i> 0 </i> </li>
                                    <li class="active"><a href="account-10.html"> سوالات متداول و راهنما  </a> </li>
                                </ul>
                            </div>
                        </section>
                        <!-- /side bar -->
                        
                        <!-- side bar -->
                        <section class="sidebar layer-style open progress-account">
                            <header><h3> تکمیل حساب کاربری </h3><i class="zmdi zmdi-chevron-down"></i></header>
                            <div class="inner">
                                <div class="complete-progress">
                                    <div id="progress" data-range="0.75"> <span>75%</span> </div>
                                </div>

                                <div class="detail">
                                    <span> 25% تا تکمیل حساب کاربری  </span>
                                </div>
                            </div>
                        </section>
                        <!-- /side bar -->
                    </div>
                    <!-- /right side -->
                    <!-- left side -->
                    <div class="left-side">
                        
                        <!-- account heading -->
                        <div class="account-heading layer-style">
                            <!-- active account Use "green" , deactive account use "red" -->
                            <span class="info"> <i class="icon-user-shape"></i> گرافیست و کدنویس وب در <i class="icon-briefcase"></i>  فریلنسر از <i class="icon-maps-and-flags"></i> ایران </span>
                            <span class="view"> 123 بازدید از پروفایل <i class="icon-avatar"></i> </span>
                        </div>
                        <!-- /account heading -->

                        <div class="account-content-layer layer-style">
                            <header><h3> سوالات متداول و راهنما </h3></header>

                            <div class="inner">

                                <div class="accordion-layer">
                                   <div class="inner">
                                        <!-- row -->
                                        <article>
                                            <h2> <span>چگونه می توانم امتیاز خود را بالا ببرم ؟</span>  <i class="icon-plus-sign"></i> </h2>
                                            <div class="text">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                </p>
                                            </div>
                                        </article>
                                        <!-- /row -->
                                        <!-- row -->
                                        <article>
                                            <h2> <span> چگونه باید در سایت ثبت نام کنم ؟ </span>  <i class="icon-plus-sign"></i> </h2>
                                            <div class="text">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                </p>
                                            </div>
                                        </article>
                                        <!-- /row -->
                                        <!-- row -->
                                        <article>
                                            <h2> <span> کسب رتبه چه مزایایی برای ما خواهد داشت ؟؟ </span>  <i class="icon-plus-sign"></i> </h2>
                                            <div class="text">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                </p>
                                            </div>
                                        </article>
                                        <!-- /row -->
                                        <!-- row -->
                                        <article>
                                            <h2> <span>چگونه می توانم امتیاز خود را بالا ببرم ؟</span>  <i class="icon-plus-sign"></i> </h2>
                                            <div class="text">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                </p>
                                            </div>
                                        </article>
                                        <!-- /row -->
                                        <!-- row -->
                                        <article>
                                            <h2> <span> چگونه باید در سایت ثبت نام کنم ؟ </span>  <i class="icon-plus-sign"></i> </h2>
                                            <div class="text">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                </p>
                                            </div>
                                        </article>
                                        <!-- /row -->
                                        <!-- row -->
                                        <article>
                                            <h2> <span> کسب رتبه چه مزایایی برای ما خواهد داشت ؟؟ </span>  <i class="icon-plus-sign"></i> </h2>
                                            <div class="text">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                </p>
                                            </div>
                                        </article>
                                        <!-- /row -->
                                        <!-- row -->
                                        <article>
                                            <h2> <span>چگونه می توانم امتیاز خود را بالا ببرم ؟</span>  <i class="icon-plus-sign"></i> </h2>
                                            <div class="text">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                </p>
                                            </div>
                                        </article>
                                        <!-- /row -->
                                        <!-- row -->
                                        <article>
                                            <h2> <span> چگونه باید در سایت ثبت نام کنم ؟ </span>  <i class="icon-plus-sign"></i> </h2>
                                            <div class="text">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                </p>
                                            </div>
                                        </article>
                                        <!-- /row -->
                                        <!-- row -->
                                        <article>
                                            <h2> <span> کسب رتبه چه مزایایی برای ما خواهد داشت ؟؟ </span>  <i class="icon-plus-sign"></i> </h2>
                                            <div class="text">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                </p>
                                            </div>
                                        </article>
                                        <!-- /row -->
                                   </div>
                                </div>
                                    
                            </div>

                        </div>

                    </div>
                    <!-- /left side -->
                    <div class="clearfix"></div>
                </div>
            </div>   

        </div>  
            
        <footer>
            <div class="top-footer">
                <div class="container">
                    <ul>
                        <li><a href=""> صفحه اصلی </a></li>
                        <li><a href=""> ورود به سایت </a></li>
                        <li><a href=""> عضویت در سایت </a></li>
                        <li><a href=""> لیست آگهی های استخدام </a></li>
                        <li><a href=""> لیست کاربران </a></li>
                        <li><a href=""> لیست تگ ها </a></li>
                        <li><a href=""> ثبت پرسش جدید </a></li>
                        <li><a href=""> قوانین سایت </a></li>
                        <li><a href=""> راهنمای سایت </a></li>
                        <li><a href=""> پر بحث ترین تگ ها</a></li>
                        <li><a href=""> پربازدیدترین آگهی ها </a></li>
                        <li><a href=""> پر امتیازترین کاربران </a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="socials-layer">
                        <a href=""><i class="icon-facebook"></i></a>
                        <a href=""><i class="icon-google-plus"></i></a>
                        <a href=""><i class="icon-instagram-old"></i></a>
                        <a href=""><i class="icon-twitter"></i></a>
                        <a href=""><i class="icon-linkedin"></i></a>
                        <a href=""><i class="icon-telegram"></i></a>
                        <a href=""><i class="icon-rss"></i></a>
                    </div>
                    <div class="copyright">
                        <p>کلیه حقوق مادی و معنوی این سایت متعلق به <a href=""> شرکت برنامه نویسان پیشرو پایدار </a> می باشد . طراحی و برنامه نویسی <a href=""> برنامه نویسان </a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/public.js"></script>
        <script src="js/progress.js"></script>
        <script src="js/slimscroll.js"></script>
        <script src="js/account.js"></script>
	</body>
</html>
