<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
	<head>
		<meta charset="UTF-8">
		<title> باگ فیکسر </title>
		<meta name="googlebot" content="index,follow">
		<meta name="robots" content="noodp,noydir">
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css">
        <link rel="stylesheet" type="text/css" href="css/bugfixer.css">
        <link rel="stylesheet" type="text/css" href="css/public.css">
        <link rel="stylesheet" type="text/css" href="css/home.css">
		<script src="js/jquery.min.js"></script>
	</head>
	<body>
    	<script src="js/modernizr.js"></script>

        <!-- lanfing page -->
        <div class="landing-layer">
            <div class="container">
                <header>
                    <a href="" class="logo"><img src="images/logo.svg"></a>
                    <h1> سامانه <span>پرسش و پاسخ</span> برنامه نویسان و توسعه دهندگان </h1>
                    <h2> آموزش ببینید ، مهارت ها و تخصص های خود را به اشتراک بگذارید ، بپرسید و به جواب برسید  </h2>
                </header>

                <div class="search-form">
                    <form action="" method="">
                        <input type="text" name="" placeholder=" دنبال چه موضوعی میگردی ؟ ">
                        <button><i class="icon-search-1"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /lanfing page -->

        <!-- menu -->
        <div class="top-menu">
            <div class="container">

                <nav>
                    <span><i class="icon-menu-2"></i></span>
                    <ul>
                        <li><a href=""> تگ ها </a></li>
                        <li><a href=""> پرسش و پاسخ ها </a></li>
                        <li><a href=""> کاربران </a></li>
                        <li><a href=""> راهنمای سایت </a></li>
                    </ul>
                </nav>

                <div class="clientarea-layer">
                    <div class="loggedin-status">
                        <i class="icon-profile"></i>
                        <span> حساب کاربری شما  </span>
                        <div class="sublayer">
                            <div class="avatar">
                                <a href=""><img src="images/pic/avatar.jpg"></a>        
                                <div>
                                    <span class="fullname"> میترا رحیمی </span>
                                    <span class="detail"> 123 پرسش | 1236 پاسخ </span>
                                </div>
                            </div>
                            <ul>
                                <li><a href=""> مشاهده حساب کاربری </a></li>
                                <li><a href=""> تنظیمات حساب کاربری </a></li>
                                <li><a href=""> ویرایش حساب کاربری </a></li>
                                <li><a href=""> تغییر رمز عبور </a></li>
                                <li><a href=""> پرسش های من </a></li>
                                <li><a href=""> پاسخ های من </a></li>
                                <li><a href=""> خروج از حساب کاربری </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="signout-status hidden">
                        <i class="icon-profile"></i>
                        <a href=""> ورود / </a>
                        <a href=""> عضویت </a>
                    </div>
                </div>

                <div class="clearfix"></div>
                
            </div>
        </div>
        <!-- /menu -->

        <div class="container">
            <!-- questions -->
            <div class="questions-layer">
                <!-- Top -->
                <div class="top-layer">
                    <a href="" class="linkbutton blue"> ثبت پرسش جدید </a>
                    <div class="filter-layer">
                        <form action="" method="">
                            <div class="select-layer">
                                <select>
                                    <option> جدیدترین پرسش ها </option>
                                    <option> پربحث ترین پرسش ها </option>
                                    <option> پرامتیازترین پرسش ها </option>
                                    <option> پرسش های یک هفته اخیر  </option>
                                    <option> پرسش های یک ماه اخیر  </option>
                                </select>
                            </div>
                            <button><i class="icon-sort"></i></button>
                        </form>
                    </div>
                </div>
                <!-- /Top -->
                <!-- questions list -->
                <div class="questions-list">
                    <!-- item -->
                    <article>
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 0 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> بدون پاسخ </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> JavaScript </a>
                                <a href=""> Jquery </a>
                                <a href=""> PHP </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 3 <i class="icon-star"></i> </span>
                                <span> 256 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 236 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 983 <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 1.2K <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 1.3K <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article>
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 0 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> بدون پاسخ </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> JavaScript </a>
                                <a href=""> Jquery </a>
                                <a href=""> PHP </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 3 <i class="icon-star"></i> </span>
                                <span> 256 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 236 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 983 <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="selected">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 1.2K <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 1.3K <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article>
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 0 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> بدون پاسخ </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> JavaScript </a>
                                <a href=""> Jquery </a>
                                <a href=""> PHP </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 3 <i class="icon-star"></i> </span>
                                <span> 256 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="selected">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 236 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 983 <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 1.2K <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 1.3K <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article>
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 0 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> بدون پاسخ </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> JavaScript </a>
                                <a href=""> Jquery </a>
                                <a href=""> PHP </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 3 <i class="icon-star"></i> </span>
                                <span> 256 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 236 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 983 <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 1.2K <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 1.3K <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article>
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 0 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> بدون پاسخ </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> JavaScript </a>
                                <a href=""> Jquery </a>
                                <a href=""> PHP </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 3 <i class="icon-star"></i> </span>
                                <span> 256 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 236 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 983 <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 1.2K <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 1.3K <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article>
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 0 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> بدون پاسخ </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> JavaScript </a>
                                <a href=""> Jquery </a>
                                <a href=""> PHP </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 3 <i class="icon-star"></i> </span>
                                <span> 256 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 236 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 983 <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 1.2K <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 1.3K <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article>
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 0 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> بدون پاسخ </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> JavaScript </a>
                                <a href=""> Jquery </a>
                                <a href=""> PHP </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 3 <i class="icon-star"></i> </span>
                                <span> 256 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 236 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 983 <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 1.2K <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 1.3K <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article>
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 0 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> بدون پاسخ </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> JavaScript </a>
                                <a href=""> Jquery </a>
                                <a href=""> PHP </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 3 <i class="icon-star"></i> </span>
                                <span> 256 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 236 <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 983 <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 1.2K <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 1.3K <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                    <!-- item -->
                    <article class="answered">
                        <h2><a href="">بهترین و ساده ترین روش برای پیاده سازی گرید ویو در لاراول نسخه ی آخر</a></h2>
                        <span> 1.2K <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط  <a href=""> شیوا محمدی </a> در 1 ساعت پیش </li>
                            <li> آخرین پاسخ توسط <a href=""> میترا رحیمی </a> در 15 دقیقه پسش </li>
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> JavaScript </a>
                                <a href=""> PHP </a>
                                <a href=""> Ecommerce </a>
                                <a href=""> Framework </a>
                            </div>
                            <div class="left-side">
                                <span> 1.3K <i class="icon-star"></i> </span>
                                <span> 264 <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                </div>
                <!-- /questions list -->
            </div>
            <!-- /questions -->
            <!-- aside -->
            <aside>

                <!-- most popular post -->
                <section class="most-popular-questions">

                    <article>
                        <header><h2> پر امتیازترین پرسش های یک ماه اخیر </h2></header>
                        <ul>
                            <li>
                                <span> 10K <i class="icon-star"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 3K <i class="icon-star"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 6K <i class="icon-star"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 2K <i class="icon-star"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 8K <i class="icon-star"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                        </ul>
                    </article>

                    <article>
                        <header><h2> پر بحث ترین پرسش های یک ماه اخیر </h2></header>
                        <ul>
                            <li>
                                <span> 8.5K <i class="icon-comment"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 7K <i class="icon-comment"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 11K <i class="icon-comment"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 134K <i class="icon-comment"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 8K <i class="icon-comment"></i></span> 
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                        </ul>
                    </article>

                </section>
                <!-- /most popular post -->

                <!-- last jobs -->
                <section class="last-jobs-layer">
                    <header><h2> آخرین آگهی های استخدام </h2></header>
                    <ul>
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                        <!-- item -->
                        <li>
                            <h2><a href=""> استخدام برنامه نویس حرفه ای asp.net </a></h2>
                            <ul>
                                <li>
                                    <span> 3 ساعت پیش </span>
                                </li>
                                <li>
                                    <span> جذب نیرو در </span> <a href=""> تهران </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /item -->
                    </ul>
                </section>
                <!-- /last jobs -->

                <!-- most controversial tags -->
                <section class="most-controversial-tags">
                    <header><h2> پر بحث ترین تگ ها </h2></header>
                    <div class="tags-layer">
                        <a href=""> Jquery </a>
                        <a href=""> php </a>
                        <a href=""> Javascript </a>
                        <a href=""> asp </a>
                        <a href=""> mvc </a>
                        <a href=""> C# </a>
                        <a href=""> woocommerce </a>
                        <a href=""> Framework </a>
                        <a href=""> Jquery </a>
                        <a href=""> php </a>
                        <a href=""> Framework </a>
                        <a href=""> Jquery </a>
                        <a href=""> php </a>
                        <a href=""> Javascript </a>
                        <a href=""> asp </a>
                        <a href=""> mvc </a>
                        <a href=""> C# </a>
                        <a href=""> woocommerce </a>
                        <a href=""> Framework </a>
                        <a href=""> Jquery </a>
                        <a href=""> Javascript </a>
                        <a href=""> Javascript </a>
                        <a href=""> asp </a>
                        <a href=""> mvc </a>
                        <a href=""> C# </a>
                        <a href=""> Jquery </a>
                        <a href=""> Javascript </a>
                        <a href=""> Javascript </a>
                        <a href=""> asp </a>
                        <a href=""> mvc </a>
                        <a href=""> C# </a>
                    </div>
                </section>
                <!-- /most controversial posts -->

                <!-- banner -->
                <div class="banner-layer">
                    <a href=""><img src="images/banner.jpg"></a>
                </div>
                <!-- /banner -->

                <!-- banner -->
                <div class="banner-layer">
                    <a href=""><img src="images/banner-2.jpg"></a>
                </div>
                <!-- /banner -->

            </aside>
            <!-- /aside -->
            <div class="clearfix"></div>
        </div>

        <footer>
            <div class="top-footer">
                <div class="container">
                    <ul>
                        <li><a href=""> صفحه اصلی </a></li>
                        <li><a href=""> ورود به سایت </a></li>
                        <li><a href=""> عضویت در سایت </a></li>
                        <li><a href=""> لیست آگهی های استخدام </a></li>
                        <li><a href=""> لیست کاربران </a></li>
                        <li><a href=""> لیست تگ ها </a></li>
                        <li><a href=""> ثبت پرسش جدید </a></li>
                        <li><a href=""> قوانین سایت </a></li>
                        <li><a href=""> راهنمای سایت </a></li>
                        <li><a href=""> پر بحث ترین تگ ها</a></li>
                        <li><a href=""> پربازدیدترین آگهی ها </a></li>
                        <li><a href=""> پر امتیازترین کاربران </a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="socials-layer">
                        <a href=""><i class="icon-facebook"></i></a>
                        <a href=""><i class="icon-google-plus"></i></a>
                        <a href=""><i class="icon-instagram-old"></i></a>
                        <a href=""><i class="icon-twitter"></i></a>
                        <a href=""><i class="icon-linkedin"></i></a>
                        <a href=""><i class="icon-telegram"></i></a>
                        <a href=""><i class="icon-rss"></i></a>
                    </div>
                    <div class="copyright">
                        <p>کلیه حقوق مادی و معنوی این سایت متعلق به <a href=""> شرکت برنامه نویسان پیشرو پایدار </a> می باشد . طراحی و برنامه نویسی <a href=""> برنامه نویسان </a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/home.js"></script>
	</body>
</html>
