<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
	<head>
		<meta charset="UTF-8">
		<title> باگ فیکسر </title>
		<meta name="googlebot" content="index,follow">
		<meta name="robots" content="noodp,noydir">
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css">
        <link rel="stylesheet" type="text/css" href="css/bugfixer.css">
        <link rel="stylesheet" type="text/css" href="css/public.css">
        <link rel="stylesheet" type="text/css" href="css/page.css">
        <link rel="stylesheet" type="text/css" href="css/tags.css">
		<script src="js/jquery.min.js"></script>
	</head>
	<body>
    	<script src="js/modernizr.js"></script>

        <header class="main-header">
            <div class="container">
                <nav>
                    <span><i class="icon-menu-2"></i></span>
                    <div class="inner">
                        <ul>
                            <li><a href=""> تگ ها </a></li>
                            <li><a href=""> پرسش و پاسخ ها </a></li>
                            <li><a href=""> کاربران </a></li>
                            <li><a href=""> راهنمای سایت </a></li>
                        </ul>
                        <div class="clientarea-layer">
                            <div class="loggedin-status">
                                <span> <i class="icon-profile"></i> <span>حساب کاربری شما</span>  </span>
                                <div class="sublayer">
                                    <div class="avatar">
                                        <a href=""><img src="images/pic/avatar.jpg"></a>        
                                        <div>
                                            <span class="fullname"> میترا رحیمی </span>
                                            <span class="detail"> 123 پرسش | 1236 پاسخ </span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li><a href=""> مشاهده حساب کاربری </a></li>
                                        <li><a href=""> تنظیمات حساب کاربری </a></li>
                                        <li><a href=""> ویرایش حساب کاربری </a></li>
                                        <li><a href=""> تغییر رمز عبور </a></li>
                                        <li><a href=""> پرسش های من </a></li>
                                        <li><a href=""> پاسخ های من </a></li>
                                        <li><a href=""> خروج از حساب کاربری </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="signout-status hidden">
                                <i class="icon-profile"></i>
                                <a href=""> ورود / </a>
                                <a href=""> عضویت </a>
                            </div>
                        </div>  
                    </div>
                </nav>

                <a href="" class="logo"><img src="images/logo-dark.svg"></a>
            </div>
        </header>

        <div class="user-page-style">

            <div class="breadcumb-layer">
                <div class="container">
                    <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                        <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> باگ فیکسر </span></a></li>
                        <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> تگ ها </span></a></li>
                    </ul>
                </div>
            </div>

            <div class="tags-page page-style">

                <div class="container">

                    <div class="right-col">
                        <header class="top-heading">
                            <h1><a href=""> مشاهده تمامی تگ ها </a></h1>
                            <span> <i>300 </i> تگ ثبت شده  </span>
                        </header>
                        <!-- Top -->
                        <!-- Top -->
                        <div class="top-layer">
                            <form action="" class="search-layer">
                                <input type="text" name="" placeholder="دنبال چه تگی میگردید ؟ ">
                                <button><i class="icon-search"></i></button>
                            </form>
                            <div class="filter-layer">
                                <form action="" method="">
                                    <div class="select-layer">
                                        <select>
                                            <option> جدیدترین پرسش ها </option>
                                            <option> پربحث ترین پرسش ها </option>
                                            <option> پرامتیازترین پرسش ها </option>
                                            <option> پرسش های یک هفته اخیر  </option>
                                            <option> پرسش های یک ماه اخیر  </option>
                                        </select>
                                    </div>
                                    <button><i class="icon-sort"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- /Top -->

                        <!-- tags layer -->
                        <div class="tags-list-layer">
                            <div class="row">
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> JavaScript </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> Jquery </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> php </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> linux </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> delphi </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> C </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> JavaScript </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> Jquery </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> php </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> linux </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> delphi </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> C </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> JavaScript </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> Jquery </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> php </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> linux </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> delphi </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> C </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> JavaScript </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> Jquery </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> php </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> linux </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> delphi </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> C </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> JavaScript </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> Jquery </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> php </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> linux </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> delphi </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4 col-sm-6 col-xs-6 tag-col">
                                    <article>
                                        <h2><a href=""> C </a></h2>
                                        <p> لورم ایپسوم متن ساختگی با نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                        <div class="detail">
                                            <span> <i>12K</i> پرسش </span>
                                            <span> <i>123</i> پرسش هفته </span>
                                        </div>
                                    </article>
                                </div>  
                                <!-- /col -->
                            </div>
                        </div>
                        <!-- /tags layer -->

                        <!-- pagination -->
                        <div class="pagination-layer">
                            <div class="inner">
                                <a href="" class="next-page"> <i class="icon-chevron-right"></i> </a>
                                <div class="pages">
                                    <a href="" class="page">1</a>
                                    <a href="" class="page">2</a>
                                    <a href="" class="page current">3</a>
                                    <a href="" class="page">4</a>
                                    <a href="" class="page">5</a>
                                    <a href="" class="page">...</a> 
                                </div>
                                <a href="" class="prev-page"> <i class="icon-chevron-left"></i> </a>
                            </div>
                        </div>
                        <!-- /pagination -->
                    </div>

                    <!-- aside -->
                    <aside>

                        <a href="" class="ask-question"> ثبت پرسش جدید </a>

                        <!-- most popular post -->
                        <section class="most-popular-questions">

                            <article>
                                <header><h2> پر امتیازترین پرسش های یک ماه اخیر </h2></header>
                                <ul>
                                    <li>
                                        <span> 10K <i class="icon-star"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 3K <i class="icon-star"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 6K <i class="icon-star"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 2K <i class="icon-star"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 8K <i class="icon-star"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                </ul>
                            </article>

                            <article>
                                <header><h2> پر بحث ترین پرسش های یک ماه اخیر </h2></header>
                                <ul>
                                    <li>
                                        <span> 8.5K <i class="icon-comment"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 7K <i class="icon-comment"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 11K <i class="icon-comment"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 134K <i class="icon-comment"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                    <li>
                                        <span> 8K <i class="icon-comment"></i></span> 
                                        <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                                    </li>
                                </ul>
                            </article>

                        </section>
                        <!-- /most popular post -->

                        <!-- most controversial tags -->
                        <section class="most-controversial-tags">
                            <header><h2> پر بحث ترین تگ ها </h2></header>
                            <div class="tags-layer">
                                <a href=""> Jquery </a>
                                <a href=""> php </a>
                                <a href=""> Javascript </a>
                                <a href=""> asp </a>
                                <a href=""> mvc </a>
                                <a href=""> C# </a>
                                <a href=""> woocommerce </a>
                                <a href=""> Framework </a>
                                <a href=""> Jquery </a>
                                <a href=""> php </a>
                                <a href=""> Framework </a>
                                <a href=""> Jquery </a>
                                <a href=""> php </a>
                                <a href=""> Javascript </a>
                                <a href=""> asp </a>
                                <a href=""> mvc </a>
                                <a href=""> C# </a>
                                <a href=""> woocommerce </a>
                                <a href=""> Framework </a>
                                <a href=""> Jquery </a>
                                <a href=""> Javascript </a>
                                <a href=""> Javascript </a>
                                <a href=""> asp </a>
                                <a href=""> mvc </a>
                                <a href=""> C# </a>
                                <a href=""> Jquery </a>
                                <a href=""> Javascript </a>
                                <a href=""> Javascript </a>
                                <a href=""> asp </a>
                                <a href=""> mvc </a>
                                <a href=""> C# </a>
                            </div>
                        </section>
                        <!-- /most controversial posts -->

                        <!-- banner -->
                        <div class="banner-layer">
                            <a href=""><img src="images/banner.jpg"></a>
                        </div>
                        <!-- /banner -->

                        <!-- banner -->
                        <div class="banner-layer">
                            <a href=""><img src="images/banner-2.jpg"></a>
                        </div>
                        <!-- /banner -->

                    </aside>
                    <!-- /aside -->
                    <div class="clearfix"></div>    
                    
                </div>

            </div>

        </div>  
            
        <footer>
            <div class="top-footer">
                <div class="container">
                    <ul>
                        <li><a href=""> صفحه اصلی </a></li>
                        <li><a href=""> ورود به سایت </a></li>
                        <li><a href=""> عضویت در سایت </a></li>
                        <li><a href=""> لیست آگهی های استخدام </a></li>
                        <li><a href=""> لیست کاربران </a></li>
                        <li><a href=""> لیست تگ ها </a></li>
                        <li><a href=""> ثبت پرسش جدید </a></li>
                        <li><a href=""> قوانین سایت </a></li>
                        <li><a href=""> راهنمای سایت </a></li>
                        <li><a href=""> پر بحث ترین تگ ها</a></li>
                        <li><a href=""> پربازدیدترین آگهی ها </a></li>
                        <li><a href=""> پر امتیازترین کاربران </a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="socials-layer">
                        <a href=""><i class="icon-facebook"></i></a>
                        <a href=""><i class="icon-google-plus"></i></a>
                        <a href=""><i class="icon-instagram-old"></i></a>
                        <a href=""><i class="icon-twitter"></i></a>
                        <a href=""><i class="icon-linkedin"></i></a>
                        <a href=""><i class="icon-telegram"></i></a>
                        <a href=""><i class="icon-rss"></i></a>
                    </div>
                    <div class="copyright">
                        <p>کلیه حقوق مادی و معنوی این سایت متعلق به <a href=""> شرکت برنامه نویسان پیشرو پایدار </a> می باشد . طراحی و برنامه نویسی <a href=""> برنامه نویسان </a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/public.js"></script>
	</body>
</html>
