
@{
    ViewData["Title"] = "داشبورد";
    Layout = "_UserPanelLayout";
}

@section Breadcrumb
{
    <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @ViewData["Title"] </span></a></li>
}

