@model BugFixer.Domain.ViewModels.Question.EditQuestionViewModel

@{
    ViewData["Title"] = "ویرایش سوال";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/page.css">
    <link rel="stylesheet" type="text/css" href="/css/question.css">
    <link rel="stylesheet" type="text/css" href="/common/magicsuggest/magicsuggest.css">
}

@section Header
{
<partial name="_Header" />
}

<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> صفحه اصلی </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @ViewData["Title"] </span></a></li>
            </ul>
        </div>
    </div>

    <div class="questions-layer page-style">

        <div class="container">

            <div class="right-col">

                <section class="question-submit-layer">

                    <header class="top-heading"><h1> <a href="javascript:void(0)">@ViewData["Title"]</a> </h1></header>

                    <div class="inner">
                        
                        <div class="submit-layer">

                            <form class="form-layer-style" asp-action="EditQuestion" asp-controller="Question">
                                <div class="row">

                                    <input type="hidden" id="SelectedTagsJson" name="SelectedTagsJson" value="@Model?.SelectedTagsJson"/>
                                    <input type="hidden" asp-for="Id" />

                                    <div class="col-xs-12">
                                        <div class="input-layer">
                                            <label asp-for="Title"></label>
                                            <input type="text" asp-for="Title">
                                            <span asp-validation-for="Title"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="textarea-layer">
                                            <label asp-for="Description" class="mb-10"></label>
                                            <textarea class="editor" asp-for="Description"></textarea>
                                            <span asp-validation-for="Description"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="input-layer">
                                            <label class="mb-8"> <i class="icon-document"></i> تگ های مرتبط با پرسش شما </label>
                                            <input class="magicsuggest" id="SelectedTags" name="SelectedTags">
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-4 col-xs-7 pull-left">
                                        <button type="submit" class="submit-button green"> <span>ویرایش پرسش</span> </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </section>

            </div>
            
            <partial name="_LeftSide"/>
            
            <div class="clearfix"></div>

        </div>

    </div>

</div>

@section Scripts
{
    <partial name="_JqueryValidation"/>
    <script src="/js/question.js"></script>
    <script src="/common/magicsuggest/magicsuggest.js"></script>
    <script>
        $(function() {
            var ms = $(`#SelectedTags`).magicSuggest({
                data: '/get-tags',
                queryParam: 'name',
                method: 'get',
                minChars: 2,
                placeholder: 'لطفا تگ های مورد نظر خود را وارد کنید',
                style: 'direction: ltr !important',
                minCharsRenderer: function (v) {
                    return 'لطفا حداقل 2 کاراکتر را وارد کنید';
                },
                noSuggestionText: '{{name}} وارد شده در پیشنهادات سایت موجود نیست',
            });

            var jsonValue = $("#SelectedTagsJson").val();
            
            if (jsonValue !== '') {
                ms.setValue(JSON.parse(jsonValue));
            }
        });
    </script>
}
