<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-right">
                <a href="#" class="navbar-brand">
                    <small>
                        <img src="/admin/img/logo-rtl.png" alt=""/>
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings --->
            <div class="navbar-header pull-left">
                <div class="navbar-account">
                    <ul class="account-area">
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar" title="View your public profile">
                                    <img alt="image" src="/admin/img/avatars/adam-jansen.jpg">
                                </div>
                                <section>
                                    <h2>
                                        <span class="profile">
                                            <span>دیوید استیونسون </span>
                                        </span>
                                    </h2>
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="dropdown-footer">
                                    <a asp-action="Logout" asp-controller="Account" asp-area="">
                                        خروج از سیستم
                                    </a>
                                </li>
                            </ul>
                            <!--/Login Area Dropdown-->
                        </li>
                    </ul>
                </div>
                <!-- /Account Area and Settings -->
            </div>
        </div>
    </div>
</div>
<!-- /Navbar -->