@model BugFixer.Domain.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "فراموشی کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
<link rel="stylesheet" type="text/css" href="/css/user.css">
}

@section Header
{
<partial name="_Header" />
}

<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> صفحه اصلی </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a asp-action="ForgotPassword" asp-controller="Account" itemprop="item"><span itemprop="name"> فراموشی کلمه عبور </span></a></li>
            </ul>
        </div>
    </div>

    <div class="user-page">

        <div class="container">

            <div class="row">

                <div class="col-md-7 col-sm-12 col-xs-12 pull-left">

                    <div class="inner">
                        <div class="description">
                            <p> لطفا به هنگام ثبت نام به موارد زیر توجه فرمایید  </p>
                            <ul>
                                <li>ابتدا <a href="">قوانین و شرایط</a> عضویت در سامانه را با دقت مطالعه نموده و سپس اقدام به ثبت نام در سامانه نمایید .</li>
                                <li>لطفا مشخصات و شماره موبایل خود را با دقت و بطور صحیح وارد نمایید .</li>
                                <li>رمز عبور به سامانه پس از عضویت به شماره موبایل شما ارسال خواهد شد .</li>
                                <li>پس از ورود به حساب کاربری خود ، جهت حفظ امنیت بیشتر حساب کاربری ، لطفا رمز عبور خود را تغییر دهید .</li>
                            </ul>

                            <div class="register-link">
                                <i class="icon-login"></i> در صورتی که قبلا ثبت نام کرده اید ،  به حساب کاربری خود <a asp-action="Login" asp-controller="Account"> وارد شوید </a> .
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-sm-12 col-xs-12 pull-right">

                    <form asp-action="ForgotPassword" asp-controller="Account" method="post" class="shadow-style">

                        <div class="inner">

                            <h2> <i class="icon-three-dots"></i> فراموشی کلمه عبور </h2>

                            <div class="input-layer">
                                <span><i class="icon-mail-envelope"></i> پست الکترونیک </span>
                                <input type="email" asp-for="Email">
                            </div>
                            <span class="error-style" asp-validation-for="Email"></span>

                            <input type="hidden" asp-for="Captcha"/>

                            <button type="submit"> فراموشی کلمه عبور </button>

                        </div>

                    </form>

                </div>

            </div>


        </div>

    </div>

</div>

@section Scripts
{
    <partial name="_JqueryValidation"/>
    <partial name="_CaptchaScripts"/>
}
